<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="app.js"></script>
    <title>Time-Stamp Microservice</title>
</head>
<body>
    <h1 class="main-heading">Timestamp Microservice</h1>
    <hr>
    <div class="container">
        <h3>Example Usage:</h3>
        <ul>
          <li><a href="api/2015-12-25" class="date-link"><%= host %>/api/2015-12-25</a></li>
          <li><a href="api/1451001600000" id="date-link"><%= host %>/api/1451001600000</a></li>
        </ul>
  
        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>By <a href="https://www.hilarytn.tech/">www.hilarytn.tech</a></p>
      </div>
</body>
</html>